parameters:

application:
	errorPresenter: Auxiliary:Error
	catchExceptions: false
	mapping:
		*: app\*Module\Presenters\*Presenter


session:
	expiration: 14 days

extensions:
	resources: Contributte\DI\Extension\ResourceExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

console:
	name: Contributte
	version: 0.9.2

di:
	export:
		parameters: no
		tags: no
